---
import { siteConfig } from '@/config/site';
---

<footer
  class="border-t bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex flex-col items-center justify-between gap-4 py-10 md:h-24 md:flex-row md:py-0"
  >
    <div
      class="flex flex-col items-center gap-4 px-8 md:flex-row md:gap-2 md:px-0"
    >
      <p
        class="text-center text-sm leading-loose text-muted-foreground md:text-left"
      >
        Built by <a
          href={siteConfig.author.url}
          class="font-medium underline underline-offset-4"
          >{siteConfig.author.name}</a
        >. The source code is available on <a
          href={siteConfig.social.github}
          class="font-medium underline underline-offset-4"
          target="_blank"
          rel="noreferrer">GitHub</a
        >.
      </p>
    </div>

    <div class="flex items-center space-x-4">
      <a
        href="/rss.xml"
        class="text-muted-foreground transition-colors hover:text-foreground"
        aria-label="RSS Feed"
        target="_blank"
        rel="noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-5 w-5"
        >
          <path d="M4 11a9 9 0 0 1 9 9" />
          <path d="M4 4a16 16 0 0 1 16 16" />
          <circle cx="5" cy="19" r="1" />
        </svg>
      </a>

      <a
        href="/sitemap-index.xml"
        class="text-muted-foreground transition-colors hover:text-foreground"
        aria-label="Sitemap"
        target="_blank"
        rel="noreferrer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-5 w-5"
        >
          <path d="M16 22h2a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v3" />
          <path d="M14 2v6h6" />
          <path d="M4 12h2" />
          <path d="M10 12h2" />
          <path d="M16 12h2" />
          <path d="M4 18h2" />
          <path d="M10 18h2" />
          <path d="M16 18h2" />
        </svg>
      </a>
    </div>
  </div>
</footer>
